.botaoIniciar {
    position: relative;
    margin-top: 200px;
    width: 100px;
    height: 70px;
}

.hitMark {
    margin-top: 50px;
    margin-left: 0px;
    background-color: rgb(255, 186, 197);
    height: 70px;
    width: 70px;
    border-radius: 100px;
    border: 2px solid rgb(255, 159, 159);
    display: none;
}
.pontuação {
    position: fixed;
    margin-top: 0px;
    margin-left: 1200px;
    display: none;
}